<%-include("partials/header.ejs")%>
<div class="container">
    <h1>
    EKT Let Your Voice Be Heard!
    </h1>

    <form id="infoform" method="post" action="/newpost"> 
        
        <input type="text" id="subjecttitle" name="subject" required placeholder="Subject">
        <input type="text" id="namefield" name="name" placeholder="Name (optional)">
       
        <textarea id ="opinionarea" name="content" placeholder="Type your suggestion here!" rows="10"></textarea>

        <select name="neighborhood" required>
            <option value="" data-display="Select">Select your neighborhood</option>
            <option value="Arnos Vale Plan">Arnos Vale Plan</option>
            <option value="Barrock’s road">Barrock’s road</option>
            <option vlaue="Beachmonte">Beachmonte</option>
            <option vlaue="Bay Hill">Bay Hill</option>
            <option vlaue="Cane Garden ">Cane Garden</option>
            <option vlaue="Dorsetshire hill">Dorsetshire hill</option>
            <option vlaue="Frenches">Frenches</option>
            <option vlaue="Gurley Hill">Gurley Hill</option>
            <option vlaue="Long wall">Long wall</option>
            <option vlaue="Mala village">Mala village</option>
            <option vlaue="Murray village">Murray village</option>
            <option vlaue="Richmond hill">Richmond hill</option>
            <option vlaue="Rockies">Rockies</option>
            <option vlaue="Roseau">Roseau</option>
            <option vlaue="Sion hill">Sion hill</option>
            <option vlaue="Sion hill village">Sion hill village</option>
            <option vlaue="Sion hill bay">Sion hill bay</option>
            <option vlaue="Town Hill">Town Hill</option>
            <option vlaue="Walvarou">Walvarou</option>
            <option vlaue="Sally Spring">Sally Spring</option>
            <option vlaue="New roads">New roads</option>
        </select>
        <button type="submit">
            Submit
        </button>
    </form>
</div>



<%-include("partials/footer.ejs")%>